{% extends 'base.html' %}

{% block content %}
<main>
    <h1>Your Shopping List</h1>
        <form method="POST" action="{% url 'delete_shopping_items' %}">
            {% csrf_token %}
            <div>
                <button class="button">Delete All</button>
            </div>
        </form>
    <ul>
        {% for item in shoppingitem_list %}
        <li>{{ item.food_item }}</li>
        {% endfor %}
    </ul>
</main>
{% endblock content %}
