{% extends 'base.html' %}
{% load markdownify %}


{% block content %}
  <main class="recipe-detail">
    <div>
      <a href="{% url 'meal_plan_edit' mealplan.id %}">Edit</a>
      <a href="{% url 'meal_plan_delete' mealplan.id %}">Delete</a>
    </div>
    <h1>{{ mealplan.name }}</h1>
    <h2>by: {{ mealplan.owner | default_if_none:"Unknown" }}</h2>
    <p>
      To be served on {{ mealplan.date }}
    </p>
      </div>
    <h2>Recipes</h2>
    {% for recipe in mealplan.recipes.all %}
    <div class="recipe-card">
        <a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.name }}</a>
    </div>
    {% endfor %}
  </main>
  {% endblock content %}
