{% extends 'base.html' %}

{% block content %}
<h3>
  <a href="{% url 'meal_plans_create' %}">Create</a>
</h3>
<main class="recipe-grid">
    {% for meal_plan in mealplan_list %}
      <div class="recipe-card">
        <h2 class="recipe-card-title">
          <a href="{% url 'meal_plans_detail' meal_plan.pk %}">{{ meal_plan.name }}</a>
        </h2>
        <p class="recipe-card-date">{{ meal_plan.date }}</p>
      </div>
    {% endfor %}
  </main>
{% endblock content %}
